 body
 {
	   	background: #f2f2f2
 }
.img-hotshi
  { 
	       height: 100px; 
  } 
 .cen-div
 {
    margin-top: 120px;
         
 }
.form_fildset
{
	border:#391C4A 3px solid; border-radius: 10px;padding-left: 10px;padding-right: 10px;
	padding-bottom: 10px;
}

.fildset_legend
{
	background-color: #391C4A;
	height: 110px;
	width: 100%; 
	border-radius: 30px;
}

.logo
{
	width: 395px; 
	margin: auto;
}

.button_set
{
	padding-top: 90px;
	padding-bottom: 90px;
}

.button_width
{
	width: 100%;
}
.lang{
	float: right;
    margin-bottom: 7px;
    margin-right: 15px;
    text-decoration: underline;
    font-size: 12px;
    font-style: italic;

}